<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />

        <title>{% block title %}Tremplin musicale : Ô tour du son{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/css/foundation.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('styles/css/normalize.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('styles/css/app.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('styles/css/foundation.min.css') }}" type="text/css" />
        {% endblock %}
            
        {% block javascripts %}
            

        {% endblock %}
            


    </head>

    <body>

        <!-- Header and Nav -->
        
        
        
            
        {% block logo %} 
        <div class="row head">
            <div class="large-3 columns">
                <a href="{{ path('homepage')}}"><img src="{{ asset('styles/img/logo.jpg') }}" alt="Symfony!" /></a>
            </div>
           
        {% endblock %}



        {% block navbar %} 
            <div class="large-9 columns">
                <ul class="button-group right">
                    <li><a href="{{ path('association')}}" class="button">L'association</a></li>
                    <li><a href="{{ path('tremplin')}}" class="button">Le tremplin</a></li>
                    <li><a href="{{ path('homepage')}}" class="button">Les groupes</a></li>
                    <li><a href="{{ path('sonata_news_home') }}" class="button">Blog</a></li>
                    
                </ul>
            </div>
        </div>
        {% endblock %}
        
        {% block annonce %}
            <div class="row">
                <div class="large-4"
                    <hr />
                </div>
            </div>
            <header>
                <div class="row">
                    <div class="twelve columns">
                        <h1>Ô tour du son !</h1>
                        <h2>Edition #3 le 14 Septembre 2013</h2>
                        <h4>Au local du foyer des jeunes à Oudon</h4>
                    </div>
                </div>
            </header>
        {% endblock %}
        
        {% block corps %}{% endblock %}
        
         {% block partenaires %}
    <div class="row">
 
        <div class="row">
          <h3>Partenaires</h3>
        </div>
 
          <div class="large-3 small-6 columns">
            <img src="{{ asset('styles/img/partenaireMauges.jpg') }}">
            <div class="panel">
              <p>Partenaire 1</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="{{ asset('styles/img/partenaireOudon.png') }}">
            <div class="panel">
              <p>Partenaire 2</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Partenaire 3</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Partenaire 4</p>
            </div>
          </div>
 
        </div>
{% endblock %}

       
    </body>

    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-6 columns">
                    <p>&copy; Copyright Ô tour du globe</p>
                </div>
                <div class="large-6 columns">
                    <ul class="link-list right">
                        <li><a href="{{ path('sonata_admin_dashboard')}}">Administration</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </footer>

    
</html>