{% extends '::base.html.twig' %}
{%block corps%}
    <div class="row">
        <div class="large-12">
            <h1 class="bleu">/// L'association</h1>
        </div>
    </div>




<h1>Association</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ entity.image }}</td>
            {% media entity.image, 'big' %}
        </tr>
        <tr>
            <th>Teaser</th>
            <td>{{ entity.teaser }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ entity.contenu }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('association') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('association_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('association_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{%endblock%}